
NetOps

Network devices and interfaces traffic stats analysis

Devang Patel

In [149]:
import csv
import pandas as pd
import operator

# Using CSV moduel

CSV DictReader returns the Dictionary, each row is converted to list of dict, key as column header and value in specific cell

In [199]:
with open('stats.csv','r') as fh:
    csv_reader = csv.DictReader(fh)   
    '''
    Sorting value based on key defined using lambda func
    column name from csv file used as key in lambda func
    '''
    reader = sorted(csv_reader, key = lambda d: (d['input']), reverse=True)
    
    #To Print top talker, here it will print 5 top talkers in input
    for device in reader[:5]:
        print(device)

OrderedDict([('device', 'r3'), ('intf', 'et3'), ('input', '303'), ('output', '313')])
OrderedDict([('device', 'r3'), ('intf', 'et2'), ('input', '302'), ('output', '312')])
OrderedDict([('device', 'r3'), ('intf', 'et1'), ('input', '300'), ('output', 'error')])
OrderedDict([('device', 'r2'), ('intf', 'et3'), ('input', '203'), ('output', '213')])
OrderedDict([('device', 'r2'), ('intf', 'et2'), ('input', '202'), ('output', '212')])

In [151]:
with open('stats.csv','r') as fh:
    csv_reader = csv.DictReader(fh)
        
    '''
    Sorting value based on key defined using operator module
    itemgetter
    '''
    reader = sorted(csv_reader, key = operator.itemgetter('device'), reverse=True)
    
    '''
    To Print top talker:
    here it will print 5 top talkers in input
    '''
    for device in reader[:5]:
        print(device)

OrderedDict([('device', 'r3'), ('intf', 'et1'), ('input', '300'), ('output', 'error')])
OrderedDict([('device', 'r3'), ('intf', 'et2'), ('input', '302'), ('output', '312')])
OrderedDict([('device', 'r3'), ('intf', 'et3'), ('input', '303'), ('output', '313')])
OrderedDict([('device', 'r2'), ('intf', 'et1'), ('input', '200'), ('output', '210')])
OrderedDict([('device', 'r2'), ('intf', 'et2'), ('input', '202'), ('output', '212')])

In [154]:
'''
csv Dictreader
Only printing r1 data
'''
with open('stats.csv','r') as fh:
    csv_reader = csv.DictReader(fh)
    #print(csv_reader)

    for line in csv_reader:
        #print(line)
        if 'r1' in line.values():
            print(line)

OrderedDict([('device', 'r1'), ('intf', 'et1'), ('input', '100'), ('output', '110')])
OrderedDict([('device', 'r1'), ('intf', 'et2'), ('input', '102'), ('output', '112')])
OrderedDict([('device', 'r1'), ('intf', 'et3'), ('input', '103'), ('output', '113')])

CSV reader returns the list, each row is converted to list and list members are the element of each column of that specific row.

In [200]:
'''
Using csv reader
Only printing r1 data
'''
with open('stats.csv','r') as fh:
    csv_reader = csv.reader(fh)
    for line in csv_reader:
        #print(line)
        if 'r1' in line:
            print(line)

['r1', 'et1', '100', '110']
['r1', 'et2', '102', '112']
['r1', 'et3', '103', '113']

# Using Pandas

In [201]:
'''
Read CSV file into data frame
'''
data = pd.read_csv('stats.csv')
data.head

<bound method NDFrame.head of   device intf  input output
0     r1  et1    100    110
1     r1  et2    102    112
2     r1  et3    103    113
3     r2  et1    200    210
4     r2  et2    202    212
5     r2  et3    203    213
6     r3  et1    300  error
7     r3  et2    302    312
8     r3  et3    303    313>

In [176]:
data.dtypes

device    object
intf      object
input      int64
output    object
dtype: object

In [177]:
'''
Print all rows of specific column
'''
print(data[['device','intf']])

  device intf
0     r1  et1
1     r1  et2
2     r1  et3
3     r2  et1
4     r2  et2
5     r2  et3
6     r3  et1
7     r3  et2
8     r3  et3

In [178]:
'''
Print all rows which has r1
'''
data[data['device'].str.match('r1')]

  device intf  input output
0     r1  et1    100    110
1     r1  et2    102    112
2     r1  et3    103    113

In [179]:
data

  device intf  input output
0     r1  et1    100    110
1     r1  et2    102    112
2     r1  et3    103    113
3     r2  et1    200    210
4     r2  et2    202    212
5     r2  et3    203    213
6     r3  et1    300  error
7     r3  et2    302    312
8     r3  et3    303    313

In [180]:
'''
Copy data frame to another one
'''
data1 = data
data1

  device intf  input output
0     r1  et1    100    110
1     r1  et2    102    112
2     r1  et3    103    113
3     r2  et1    200    210
4     r2  et2    202    212
5     r2  et3    203    213
6     r3  et1    300  error
7     r3  et2    302    312
8     r3  et3    303    313

In [181]:
'''
How to check type of data in each column
'''

data1.dtypes

device    object
intf      object
input      int64
output    object
dtype: object

In [182]:
'''
As we can see r3's eth1 interface output value has 'error'
so how to replace 'error' string and converting whole ouptut 
column to int type? using replace:
'''
data1['output'] = data1['output'].replace(['error'],0)

In [183]:
data1

  device intf  input output
0     r1  et1    100    110
1     r1  et2    102    112
2     r1  et3    103    113
3     r2  et1    200    210
4     r2  et2    202    212
5     r2  et3    203    213
6     r3  et1    300      0
7     r3  et2    302    312
8     r3  et3    303    313

In [185]:
'''
Next I want to add input and output columns.
However, you can see the type of both columns is different
due to that we can not perform sum of both columns.
'''
data1.dtypes

device    object
intf      object
input      int64
output    object
dtype: object

In [186]:
'''
How to convert output column to int?
Using astype:
'''
data1['output'] = data1['output'].astype(int)

In [194]:
'''
Data type is same for input and output column
'''
data1.dtypes

device    object
intf      object
input      int64
output     int64
total      int64
dtype: object

In [195]:
'''
Total of each interface input and output stats
'''

data1['total'] = data1['input'] + data1['output']

In [196]:
data1

  device intf  input  output  total
0     r1  et1    100     110    210
1     r1  et2    102     112    214
2     r1  et3    103     113    216
3     r2  et1    200     210    410
4     r2  et2    202     212    414
5     r2  et3    203     213    416
6     r3  et1    300       0    300
7     r3  et2    302     312    614
8     r3  et3    303     313    616

In [197]:
'''
which interfaces are in top 3 talker?
Using sort:
'''
data1.sort_values('total', ascending=False).head(3)

  device intf  input  output  total
8     r3  et3    303     313    616
7     r3  et2    302     312    614
5     r2  et3    203     213    416

In [198]:
'''
How to calculate the total input and total output
of specific device all interfaces?
Group by device name:
'''

df = data1.groupby('device').sum().sort_values('total', ascending = False)
df

        input  output  total
device
r3        905     625   1530
r2        605     635   1240
r1        305     335    640